<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--上面的是Mybatis的约束-->
<mapper namespace="com.wyu.tea.dao.mapper.KnowledgeMapper">


    <insert id="addKnowledge" useGeneratedKeys="true" keyProperty="id">

    </insert>
    <insert id="insertBatchKnowledge" useGeneratedKeys="true" keyProperty="id">
        Replace into wyu_knowledge (kno_content,kno_course) VALUES
        <foreach collection="list"  item="item" index="index" separator=",">
            (#{item.knoContent},#{item.knoCourse})
        </foreach>
    </insert>
</mapper>
